/* CSS Document */
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 18px;
	font-weight: normal;
	color: #000;
	background-color: #E8E8E8;
}
a {
	cursor: pointer;
	text-decoration: underline;
}
h2 {
	line-height: 2em;
	text-align: right;
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 1.4em;
}
.wrapper {
	display: block;
	margin: auto;
	width: 96%;	
}
.calenderForm {
	margin-bottom: 20px;
}
.calenderForm form, .calenderForm a {
	display: inline-block;
	margin-left: 30px;
}
.archive_process:last-child {
	margin-bottom: 20px;
}
.systemMessage {
	background-color: #E8E8E8;
	padding: 20px;
	width: 50%;
	max-height: 90%;
	position: fixed;
	top: 10px;
	right: 10px;
	box-shadow: 0 0 3px #999;
	border-radius: 5px;
	overflow: auto;
}
.substat {
	z-index: 1;
}
.close {
	position: fixed;
	top: 20px;
	right: 20px;
	font-size: 1.5em;
	text-decoration: none;
	background-color: #FFF;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 3px 13px;
}
.statistics {
	width: 100%;
}
.statistics thead {
	font-size: 1.5em;
	line-height: 2em;
}
.statistics tfoot {
	font-size: 1.4em;
}
.statistics thead th, .statistics tfoot td {
	background: #f6f8f9;
	background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
	background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );
}
.statistics td, .statistics th {
	padding: 4px;
}
.statistics tr:nth-child(2n+1) {
	background-color: #FFF;
}
.statistics tr:hover {
	background-color: #CCC;
}
.mailing img {
	width: 150px;
}
.loading {
	position: fixed;
	right: 20px;
	bottom: 20px;
	background-color: #FFF;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	border-radius: 5px;
	box-shadow: 0 0 3px #666;
	background-size: 90% auto;
	height: 100px;
	width: 100px;
	background-position: center center;
}